<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./public/css/estilo.css"/>
     <style>
        
     </style>
    <title>Cadastro Usuário</title>

</head>
<body>
    <div class='topo'>
    RedeTransformar<br>
    <h6 class="sub">Conhece-te, Transforma-te e Liberta-te!</h6>
    <h5 class="alunos"><b>Alunos:</b> Davison Rodrigues, Jessica, Danilo, Lays</h5><br>
    <h4 class="motivo"><b>Motivo:</b> Tendo em vista os traumas mentais causados pela pandemia, pensamos em fazer um site voltado para psicologia, onde pessoas poderam se cadastrar e ter atendimento com um profissional capacitado. </h5>
   
    </div>
	{{{body}}}
</body>
</html>		
