<form action='/upusuario' method='get'>
		<input type='hidden' name='id' value='{{usuario.dataValues.id}}'>
		<label>Nome: </label><input type='text' name='nome' value='{{usuario.dataValues.nome}}'><br>
		<label>Email: </label><input type='text' name='email' value="{{usuario.dataValues.preco}}"><br>
		<label>Senha: </label><input type='text' name='senha' value='{{usuario.dataValues.marca}}'><br>
		<a href="/atualizaUsuario"><button>Atualizar</button></a>
</form>