<div>Buscar Usuarios</div><br>
<form action='/bucaUsuario' method='GET'>
	<label>Email: </label><input type='text' name='email'><br>
	<label>Nome: </label><input type='text' name='nome'><br>
	
	<a href="/Usuarios/{{id}}"><button>Buscar</button></a>
</form>