<div class="container">
        <div class="form-img">
            <img src="img/undraw_mindfulness_wboq.svg">
        </div>
        <div class="form">
            <form action="/addUsuario" method="POST">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se Usuário</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="html/login.html">Login</a></button>
                    </div>
                </div>
                <div class="input-group">
                     <div class="input-box">
                        <label for="nome">Nome</label>
                        <input id="nome" type="text" name="nome" placeholder="Digite seu nome" required>
                    </div>
                    
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="text" name="email" placeholder="Digite seu email" required>
                    </div>
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="senha" placeholder="Digite sua senha" minlength="8" maxlength="20" required>
                    </div>
                    <div class="input-box">
                        <label for="password">Confirme sua senha</label>
                        <input id="password" type="password" name="ConfirmarSenha" placeholder="Digite sua senha" minlength="8" maxlength="20" required>
                    </div>
                    
                </div>

                <div class="continue-button">
                    <button type="submit">Continuar</button>
                </div>

            </form>

