<header>
<nav>
  <ul class="menu">
		<li class="listahome">Para Você </i>
 <ul>
    <li><a href="/cadUsu">Cadastro</a></li>
	  <li><a href="/loginUsu">Entrar</a></li>
    <li><a href="/cadPost">Adicionar Postagem</a></li>
</ul>

</nav>
</header>

